head {
    padding: 0;
    margin: 0;
}

body {
  width: 1000px;
  margin: 0 auto;
  background-color: #8dbce2;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img{
    display:block;
    margin:auto;
}

h1 {
    text-align: center;
    background-color: black;
    color: aliceblue;
}

nav ul {
    background-color: cadetblue;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    width: 150px;
}